services:
  - type: web
    name: telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        value: 8362961253:AAGdU6IjPqAWsCGdTJAF3hlo3c-E5DvhpUY
      - key: ADMIN_ID
        value: 8526339637
      - key: CHANNEL_ID
        value: -1003371879030
      - key: CHANNEL_LINK
        value: https://t.me/+zWVuu6USvyo3NjA6